$light: #dff6ff;
$dark: #06283d;
.SideNav {
  background-color: $light;
  border-radius: 13px;
  width: 350px;
  height: 400px;
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
  .ProfilePhoto {
    width: 200px;
    height: 200px;
    background-color: grey;
    border: 3px solid white;
    border-radius: 50%;
  }
  a {
    width: 80%;
    background-color: $dark;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px 0;
    &:hover {
      background-color: #032031;
    }
  }
  .Create {
    width: 80%;
    margin-top: auto;
    padding: 5px 0;
    background-color: $dark;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px 0;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #032031;
    }
  }
}
.createContainer {
  position: absolute;
  background-color: #6fcaff;

  width: 100vw;
  height: 100px;
}
